---
layout: default
---
%h1 Jeremy Reyes
.media
  .media-left
    %i.fa.fa-linkedin-square
  .media-body
    I'm a professional
.media
  .media-left
    %i.fa.fa-github
  .media-body
    who codes for a living,
.media
  .media-left
    %i.fa.fa-facebook-official
  .media-body
    enjoys family and friends,
.media
  .media-left
    %i.fa.fa-twitter
  .media-body
    has minor, self-diagnosed ADD,
.media
  .media-left
    %i.fa.fa-google-plus
  .media-body
    but is thorough.
.media
  .media-left
    %i.fa.fa-angellist
  .media-body
    I'm also a co-founder.
