---
layout: default
---
.container-fluid.vertical-center
  .col-md-6.text-center
    %h1.text.primary Jeremy Reyes
  .col-md-6
    .media
      %a{:href => "https://www.linkedin.com/in/djreyes"}
        .media-left.text-muted
          %i.fa.fa-linkedin.fa-2x.fa-fw
        .media-body.media-middle.text-muted
          I'm a professional
    .media
      %a{:href => "https://www.github.com/djreyes"}
        .media-left.text-muted
          %i.fa.fa-github.fa-2x.fa-fw
        .media-body.media-middle.text-muted
          who codes for a living,
    .media
      %a{:href => "https://www.facebook.com/djreyes"}
        .media-left.text-muted
          %i.fa.fa-facebook.fa-2x.fa-fw
        .media-body.media-middle.text-muted
          enjoys family and friends,
    .media
      %a{:href => "https://www.twitter.com/djreyes"}
        .media-left.text-muted
          %i.fa.fa-twitter.fa-2x.fa-fw
        .media-body.media-middle.text-muted
          has minor, self-diagnosed ADD,
    .media
      %a{:href => "https://plus.google.com/118323945605195910070"}
        .media-left.text-muted
          %i.fa.fa-google-plus.fa-2x.fa-fw
        .media-body.media-middle.text-muted
          but tries to be thorough.
